 #ran {
  margin: auto;
  position: relative;
  width:252px;
  padding: 0px;
  top: 231px;
}

#ran.jq_skywheel li:before {
content: "";
width: 215px;
height: 140px;
pointer-events: painted;
z-index: 50;
display: block;
position: absolute;
top: 10px;
margin: auto;
left: 20px;
}

#ran:hover:before {
background: url("back/active2.png") no-repeat top center;
content: "";
width: 215px;
height: 140px;
z-index: 3;
display: block;
position: absolute;
top: 10px;
margin: auto;
left: 20px;
 pointer-events: none;
}

#ran.jq_skywheel li {
  	pointer-events: none;
}

 #ran2 {
  margin: auto;
  position: relative;
  width: 502px;
  top: 58px;
  padding: 0px;
}

#ran2.jq_skywheel li:before {
content: "";
width: 250px;
height: 135px;
pointer-events: painted;
z-index: 50;
display: block;
position: absolute;
top: 70px;
margin: auto;
left: 135px;
}

#ran2:hover:before {
background: url("back/active1.png") no-repeat top center;
content: "";
width: 250px;
height: 135px;
z-index: 3;
display: block;
position: absolute;
top: 70px;
margin: auto;
left: 135px;
 pointer-events: none;
}

#ran2.jq_skywheel li {
  	pointer-events: none;
}

 #ran3 {
  margin: auto;
  position: relative;
  width: 483px;
  top: 405px;
  padding: 0px;
}


#ran3.jq_skywheel li:before {
content: "";
width: 180px;
height: 110px;
pointer-events: painted;
z-index: 50;
display: block;
position: absolute;
top: 20px;
margin: auto;
left: 148px;
}

#ran3:hover:before {
background: url("back/active3.png") no-repeat top center;
content: "";
width: 180px;
height: 110px;
z-index: 3;
display: block;
position: absolute;
top: 20px;
margin: auto;
left: 148px;
 pointer-events: none;
}

#ran3.jq_skywheel li {
  	pointer-events: none;
}

 #ran4 {
  margin: auto;
  position: relative;
width: 189px;
top: 534px;
  padding: 0px;
}

#ran4.jq_skywheel li:before {
content: "";
width: 180px;
height: 110px;
pointer-events: painted;
z-index: 50;
display: block;
position: absolute;
top: 20px;
margin: auto;
left: -7px;
}

#ran4:hover:before {
background: url("back/active4.png") no-repeat top center;
content: "";
width: 180px;
height: 110px;
z-index: 3;
display: block;
position: absolute;
top: 20px;
margin: auto;
left: -7px;
 pointer-events: none;
}

#ran4.jq_skywheel li {
  	pointer-events: none;
}


 #ran5 {
  margin: auto;
  position: relative;
width: 163px;
top: 658px;
  padding: 0px;
}

#ran5.jq_skywheel li:before {
content: "";
width: 155px;
height: 100px;
pointer-events: painted;
z-index: 50;
display: block;
position: absolute;
top: 136px;
margin: auto;
left: 10px;
}

#ran5:hover:before {
background: url("back/active5.png") no-repeat top center;
content: "";
width: 155px;
height: 100px;
z-index: 3;
display: block;
position: absolute;
top: 136px;
margin: auto;
left: 10px;
 pointer-events: none;
}

#ran5.jq_skywheel li {
  	pointer-events: none;
}


.jq_skywheel li{
    display: block;
    position: absolute;
    transition: 0s ease all;
    text-align: center;
	opacity: 0;
}

.jq_skywheel li .inner{
    display: inline-block;
    vertical-align: middle;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
	overflow:hidden;
}

.jq_skywheel .mask1:before{
content: "" !important;
position: absolute !important;
top: 0px;
left: 0px;
width: 100% !important;
height: 100% !important;
overflow: hidden;
pointer-events: painted !important;
top: 0px !important;
left: 0px !important;
background: none !important;
}
.jq_skywheel .mask2:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.jq_skywheel .effect1_n2{
    z-index: 0;
    -webkit-transform: scale(1.0) translate(0px,-100%);
    -moz-transform: scale(1.0) translate(0px,-100%);
    transform: scale(0.8) translate(0px,-100%);
}
.jq_skywheel .effect1_n1{
    z-index: 2;
    -moz-transform: scale(1.0) translate(0px,-100%);
    -webkit-transform: scale(1.0) translate(0px,-100%);
    transform: scale(1.0) translate(0px,-100%);
}
.jq_skywheel .effect1_1{
    z-index: 2;
    -moz-transform: scale(1.0) translate(0px,100%);
    -webkit-transform: scale(1.0) translate(0px,100%);
    transform: scale(1.0) translate(0px,100%);
}
.jq_skywheel .effect1_2{
    z-index: 0;
    -moz-transform: scale(1.0) translate(0px,100%);
    -webkit-transform: scale(0.8) translate(0px,100%);
    transform: scale(0.8) translate(0px,100%);
}
.jq_skywheel .effect2_n2{
    z-index: 0;
    -webkit-transform: scale(1.0) translate(-100%,0px);
    -moz-transform: scale(0.8) translate(-100%,0px);
    transform: scale(0.8) translate(-100%,0px);
}
.jq_skywheel .effect2_n1{
    z-index: 3;
    -moz-transform: scale(1.0) translate(-100%,0px);
    -webkit-transform: scale(1.0) translate(-100%,0px);
    transform: scale(1.0) translate(-100%,0px);
	opacity: 1 !important;
background: url("back/backslide.jpg") repeat 7px -7px;
	border-radius: 40px 0px 0px 40px;
	box-shadow: -8px 0px 10px 10px #151a164f;
}
.jq_skywheel .effect2_1{
    z-index: 3;
    -moz-transform: scale(1.0) translate(100%,0px);
    -webkit-transform: scale(1.0) translate(100%,0px);
    transform: scale(1.0) translate(100%,0px);
	opacity: 1 !important;
background: url("back/backslide.jpg") repeat 19px -7px;
	border-radius: 0px 40px 40px 0px;
	box-shadow: 8px 0px 10px 10px #151a164f;
}
.jq_skywheel .effect2_2{
    z-index: 0;
    -moz-transform: scale(1.0) translate(100%,0px);
    -webkit-transform: scale(1.0) translate(100%,0px);
    transform: scale(0.8) translate(100%,0px);
}
.jq_skywheel .center{
    z-index: 4;
    -webkit-transform:scale(1.0) translate(0px,0px);
    -moz-transform: scale(1.0) translate(0px,0px);
    transform: scale(1.0) translate(0px,0px);
	opacity: 1 !important;
background: url("back/backslide.jpg") repeat 13px -7px;
box-shadow: 0px 0px 40px 25px #ad85ce7a;
pointer-events: painted !important;
}
.jq_skywheel .chosen{
	z-index: 2;
opacity: 1;
}
